
      /*============ Skills Section ============*/
      .skills {
        /* position: relative;
        background-color: #f2f2f2;
        overflow: hidden; */
      }
      .skills .part-text h4 {
        /* font-size: 18px;
        font-weight: 700; */
      }
      .skills .skill-div {
        position: relative;
      }
      .causes .causes-body .causes-item .causes-text .causes-item-progress .skills-item {
        position: relative;
        width: 100%;
      }
      .causes .causes-body .causes-item .causes-text .causes-item-progress .skills-item .bar {
        position: relative;
        width: 100%;
        height: 15px;
        background-color: #e9ecef;
        border-radius: 15px;
      }
      .causes .causes-body .causes-item .causes-text .causes-item-progress .skills-item .bar .fill {
        position: absolute;
        width: 0;
        height: 100%;
        background-color: #CC8900;
        border-radius: 15px 0 0 15px;
        -webkit-transition: all 3s;
        transition: all 3s;
      }
      .causes .causes-body .causes-item .causes-text .causes-item-progress .skills-item .bar .fill:before {
        content: attr(data-width);
        position: absolute;
        top: -25px;
        right: -40px;
        font-family: sans-serif;
        color: #222;
        font-size: 18px;
        font-weight: 600;
      }
      
        