
/* Responsive CSS */

/* Screen Size 1400px Starts */
@media only screen and (max-width: 1400px) {
    .banner .banner__body .banner__img .banner__color .banner__content .content__overlay .content__text br{
        display: none;
    }
    .about__goal .bgc .goal__video video{
        width: 100%;
    }
    .form-box .map iframe{
        width: 100%;
    }
    .news .news-body .news-item .news-img .overlay-meta li{
        gap: 3px;
        font-size: 14px;
    }
}
/* Screen Size 1400px Ends */


/* Screen Size 1200px Starts */
@media only screen and (max-width: 1200px) {
    .causes__single .causes__body .causes__item .causes__info{
        padding-top: 30px;
    }
    .causes__single .causes__body .causes__item .causes__img{
        padding-right: 0;
    }
    .causes__single .causes__body .causes__item .causes__img img{
        height: auto;
    }
    .upcoming-event .event__body .event__item .swiper-button-next{
        right: 44%;
    }
    .upcoming-event .event__body .event__item .swiper-button-prev{
        left: 44%;
    }
    .blog-single .blog-single__feature{
        padding-top: 30px;
    }
    .volunteers .volunteers__inner .inner-item{
        margin-bottom: 20px;
    }
    .news .news-body .news-item .news-img .overlay-meta li{
        gap: 6px;
        font-size: 16px;
    }
}
/* Screen Size 1200px Ends */


/* Screen Size 992px Starts */
@media only screen and (max-width: 992px) {
    .banner .hero-slider .banner__img{
        height: 700px;
    }
    .mb10 .donor-list {
        margin-bottom: 15px;
    }
    .header{
        background-color: #20212B;
    }
    .banner .banner__body .banner__img .banner__color .banner__content .content__overlay .content__title{
        font-size: 50px;
        line-height: 60px;
    }
    .banner-inner .bgc .overlay .content .sub-heading .title{
        font-size: 50px;
        line-height: 50px;
        text-align: start;
    }
    .about .about__img{
        margin-top: 30px;
    }
    .about__goal{
        height: auto;
    }
    .about__goal .bgc{
        height: auto;
    }
    .people .people-body .people-item{
        margin-bottom: 20px;
    }
    .causes .causes-body .causes-item .causes-text{
        padding-top: 30px;
    }
    .sponsor .sponsor-head{
        font-size: 225px;
        line-height: 220px;
    }
    .sponsor .sponsor-body{
        margin-left: 150px;
    }
    .goal{
        height: auto;
    }
    .goal .bgc{
        height: auto;
    }
    .goal .bgc .goal-counter{
        padding-bottom: 60px;
    }
    .footer .footer-subcribe{
        padding-top: 40px;
    }
    .help-us .bgc .help-us__content{
        padding: 62px 0;
    }
    .about__goal .bgc .goal__content .content__title{
        padding-top: 10px;
    }
    .causes__single .causes__body .causes__item .causes__info .causes__info__details{
        padding-top: 20px;
    }
    .event__article{
        padding-bottom: 0 !important;
    }
    .event__card .card__item .item__list{
        margin-bottom: 20px;
    }
    .help .help-img{
        margin-top: 20px;
    }
    .support-body{
        padding-bottom: 50px !important;
    }
    .support-body .support-item{
        margin-bottom: 50px;
    }
    .form-box .map{
        margin-bottom: 30px;
    }
    .upcoming-event .event__body .event__item .swiper-button-next{
        right: 42%;
    }
    .upcoming-event .event__body .event__item .swiper-button-prev{
        left: 42%;
    }
    .footer {
        padding-bottom: 30px;
    }
    .footer .copy-right .copy-right__menu, .copy-right__text{
        text-align: center;
    }
    .footer .copy-right .copy-right__text{
        padding-top: 0px;
    }
    a.header-btn.btn-bg-normal {
        margin: 16px auto;
        max-width: 500px;
        display: block;
    }

}
/* Screen Size 992px Ends */

/* Screen Size 768px Starts */
@media only screen and (max-width: 768px) {
    .mb10 .donor-list {
        margin-bottom: 15px;
    }
    .goal__video iframe {
        width: 375px;
    }

    h2{
        letter-spacing: 0px !important;
    }
    .banner .swiper-button-next{
        width: 40px;
        height: 40px;
    }
    .banner .swiper-button-prev{
        width: 40px;
        height: 40px;
    }
    .banner ::after {
        font-size: 20px;
        font-weight: 700;
    }
    .banner .banner__body .banner__img .banner__color .banner__content .content__overlay .content__title{
        font-size: 50px;
        line-height: 60px;
    }
    .sub-heading{
        margin-bottom: 25px;
    }
    .sub-heading p br{
        display: none;
    }
    .banner-inner .bgc .overlay .content .sub-heading .title{
        font-size: 40px;
        line-height: 50px;
        text-align: start;
    }
    .sponsor .sponsor-head{
        font-size: 140px;
        line-height: 130px;
        letter-spacing: 1px;
        margin-bottom: 35px;
    }
    .sponsor .sponsor-body{
        margin-left: 115px;
    }
    .sponsor .sponsor-body h3{
        line-height: 50px;
        letter-spacing: -1px;
    }
    .sponsor .sponsor-body h3 br{
        display: none;
    }
    .subscribe .subscribe__title{
        text-align: center;
        font-size: 22px;
    }
    .volounteer .bgc .volounteer-content h2 {
        font-size: 37px;
        line-height: 50px;
      }
    .help-us{
        height: auto;
    }
    .help-us .bgc .help-us__content h2{
        font-size: 40px;
        line-height: 45px;
    }
    .help-us .bgc .help-us__content p{
        font-size: 30px;
        line-height: 35px;
    }
    .causes__single .causes__body .causes__item .causes__info .personal-info .personal-info__form input{
        margin-top: 25px;
    }
    .event__card .card__item .item__list .list__details ul :nth-child(2) {
        border: none;
    }
    .faq-body .faq__item{
        margin-bottom: 30px;
    }
    .banner-404 .bgc .overlay .content h1 {
        font-size: 150px;
        line-height: 160px;
    }
    .banner-404 .bgc .overlay .content h2 {
        font-size: 20px;
        line-height: 30px;
    }
    .event__card .card__item .item__list .list__inner .inner__content .inner__details ul li p br{
        display: none;
    }
    .upcoming-event .event__body .event__item .swiper-button-next{
        right: 38%;
    }
    .upcoming-event .event__body .event__item .swiper-button-prev{
        left: 38%;
    }
    .causes__single .causes__body .causes__item .causes__info .amount .amount__price {
        padding-top: 54px;
    }


}
/* Screen Size 768px Ends */

/* Screen Size 600px Starts */
@media only screen and (max-width: 600px) {
	.banner{
		height: ;
	}
    h2{
        letter-spacing: 0px !important;
    }
    .banner .banner__body .banner__img .banner__color .banner__content .content__overlay .content__title{
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1px;
    }
    .banner .swiper-button-prev {
        left: 30px;
    }
    .banner .swiper-button-next {
        right: 30px;
    }
    .sub-heading h2{
        font-size: 35px;
        line-height: 40px;
        letter-spacing: -2px;
    }
    .banner-inner .bgc .overlay .content .sub-heading .title{
        font-size: 32px;
        line-height: 50px;
        text-align: start;
    }
    .project .porject-body .project-item .overlay .overly__item h3 a{
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
    }
    .goal .bgc .goal-counter span{
        font-size: 50px;
        letter-spacing: 1px;
        line-height: 55px;
    }
    .volounteer .bgc .volounteer-content {
        padding-top: 100px;
    }
    .sponsor .sponsor-head{
        font-size: 80px;
        line-height: 70px;
    }
    .sponsor .sponsor-body h3{
        font-size: 30px;
        line-height: 35px;
        margin: 0;
    }
    .volounteer .bgc .volounteer-content h2{
        font-size: 28px;
        line-height: 40px;
    }
    .donor .donor-body{
        padding-top: 40px;
    }
    .donor .donor-body .donor-list{
        text-align: center;
        padding-bottom: 40px;
    }
    .footer .footer-menu{
        padding-top: 40px;
    }
    .gallery .gallery__title .port-filter ul .filter-item{
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .causes__single .causes__body .causes__item{
        padding: 25px 15px;
    }
    .causes__single .causes__body .causes__item .causes__info .pay__body .pay__list .pay__item label img{
        max-width: 60%;
    }
    .event__card .card__item .item__list .list__details ul :nth-child(1) {
        border: none;
    }
    .upcoming-event .event__body .event__item .swiper-button-next{
        right: 38%;
    }
    .upcoming-event .event__body .event__item .swiper-button-prev{
        left: 38%;
    }
}
/* Screen Size 600px Ends */

/* Screen Size 500px Starts */
@media only screen and (max-width: 500px) {
    .banner .banner__body .banner__img .banner__color .banner__content .content__overlay .content__title{
        font-size: 22px;
        line-height: 45px;
        letter-spacing: -1px;
    }
    .news .news-body .news-item .news-img .overlay-meta li{
        gap: 3px;
        font-size: 14px;
    }
    .footer .copy-right{
        padding-top: 30px;
    }
    .upcoming-event .event__body .event__item .swiper-button-next{
        right: 34%;
    }
    .upcoming-event .event__body .event__item .swiper-button-prev{
        left: 34%;
    }
}
