/*scroll to top preloader*/
.scrollToTop {
    position: fixed;
    bottom: -30%;
    right: 5%;
    z-index: 9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #FFAB00;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
    color: #fff;
  }
  .scrollToTop i {
    color: #fff;
    z-index: 1;
  }
  a.scrollToTop:hover {color: #fff;}